<div class="offset-area">
    <div class="mobile-manu d-none">
  
        <!-- source for mobile menu start -->
        <ul class="site-menu">

            <li><a href="#">Home</a> 
                    <ul>
                     <li><a href="shop.html">Shop</a></li>
                                                 <li><a href="shop.html">Shop</a></li>

                                                 <li><a href="shop.html">Shop</a></li>

                                                 <li><a href="shop.html">Shop</a></li>

                                                 <li><a href="shop.html">Shop</a></li>

                                                 <li><a href="shop.html">Shop</a></li>

                </ul>
            
            </li>
            <li><a href="shop.html">Shop</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="#cta-01">Pages</a></li>
            

        </ul>
  
        <!-- source for mobile menu end -->
  
    </div>
  </div>